.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.App-header {
  font-family: "Karla", sans-serif;
  color: #495E57;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  background-color: #fff;
 
}

.header-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.App-logo {
  height: 50px;
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

a {
  color: #495E57;
  text-decoration: none;
}



section {
  margin: 20px 0;

}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
}
